@use 'base/variables' as v; 
@use 'base/mixins' as m;

/* Header */
.header {
    position: relative;
    
    &__contenedor {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 0;

        @include m.tablet {
            
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba( 255, 255, 255, 0.1 );
            box-shadow: 0 2px 8px 0 rgba(48, 19, 177, 0.35);
            backdrop-filter: blur( 3px );
            -webkit-backdrop-filter: blur( 3px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            padding-block: 0;
            padding-inline: 6rem;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 20rem;
            margin: 2rem auto;
        }
    }
    
   &__logo {
        order: 2;

        @include m.tablet { 
            order: 0;
        }

        @include m.desktop { 
            order: 0;
        }
    }

    &__heading {
        font-family: v.$fuenteLogo;
        text-align: center;
        margin: 0;

        a {
            color: v.$primario;
        }
        
        @include m.tablet { 
            font-size: 2.5rem;
        }
        @include m.desktop { 
            font-size: 4rem;
        }
    } 
}


