@use 'base/variables' as v; 
@use 'base/mixins' as m;
/* About */
.about {
    margin-top: 6rem;
    
    @include m.tablet { 
        margin-top: 8rem;
    }
    @include m.desktop { 
        margin-top: 10rem;
    }

    &__cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        @include m.heading(v.$primario);
        font-size: 3rem;

        @include m.tablet { 
            font-size: 4rem;
        }
    } 

    &__boton {
            @include m.boton(v.$primario, v.$blanco);
            padding: 1.5rem 2rem;
            cursor: pointer;
            @include m.tablet { 
                padding: 1.5rem 3rem;
            }
    }
}