// Fuentes
$fuentePrincipal: 'Poppins', sans-serif;
$fuenteSecundaria: 'Overpass', sans-serif;
$fuenteLogo: 'Inspiration', cursive;
$fuenteMobile: 'Sedgwick Ave Display', cursive;

// Tamaño de Media Queries
$phoneSmall: 375px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #543ece; 
$secundario: #0ddaa6;
$secundarioOscuro: #3b9780;
$negro: #000;
$negroClaro: #444;
$blanco: #FFFFFF;
$azul: #051d41;
$cajas: rgba(48, 19, 177, 0.5);
$grisClaro: #eceeef;
$darken: linear-gradient(to top, rgb(17, 24, 39), rgb(0, 0, 0));
