@use 'base/variables' as v; 
@use 'base/mixins' as m;
/* Home */

.home {

    @include m.tablet {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 50rem;
        align-items: center;
        @include m.imagenBG('/assets/img/home/home.webp');
        
    }

    &__heading {
        color: v.$secundarioOscuro;

        a {
           @include m.textoDeg;
        }

       
    }

    &__grid {
        @include m.tablet { 
            padding-left: 3rem;
        }
       @include m.desktop { 
            padding-left: 10rem;
       }
    }

    &__typewriter {
       @include m.typewriter(0, 330px);

    }

    &__texto {
        color: v.$negroClaro;

        @include m.tablet { 
            color: v.$blanco;
        }
    }
}


