@use 'base/variables' as v; 
@use 'base/mixins' as m;
/* Home */

.home {
    
    position: relative;

    @include m.tablet {
        margin-top: 8rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 50rem;
        align-items: center;
        @include m.imagenBG('/assets/img/home/home.webp'); 
    }

    @include m.desktop { 
        margin-top: 10rem;
    }

    &__heading {
        color: v.$secundarioOscuro;

        a {
           @include m.textoDeg;
        }

       
    }

    &__grid {
        @include m.tablet { 
            padding-left: 3rem;
        }
       @include m.desktop { 
            padding-left: 10rem;
       }
    }

    &__typewriter {
       @include m.typewriter(0, 330px);

    }

    &__texto {
        color: v.$negroClaro;
        

        @include m.tablet {
            @include m.animacion;
            left: 4rem;
            right: 4rem;
            padding-right: 20rem;
            color: v.$blanco;
        }

        @include m.desktop {
            @include m.animacion;
            padding-right: 30rem;
        }
    }
}


