@use 'base/variables' as v; 
@use 'base/mixins' as m;
/* Projects */


.projects {

    @include m.tablet { 
        margin-top: 8rem;
    }
    @include m.desktop { 
        margin-top: 10rem;
    }
   
    &__cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        @include m.heading(v.$primario);
        font-size: 3rem;

        @include m.tablet { 
            font-size: 4rem;
        }
    } 

    &__boton {
            @include m.boton(v.$primario, v.$blanco);
            padding: 1.5rem 2rem;
            cursor: pointer;

            @include m.tablet { 
                padding: 1.5rem 3rem;
            }
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(2, 4rem);
        }

        @include m.desktop { 
            @include m.grid(3, 8rem);
        }
    }
}

.project {

    @include m.phoneSmall { 
        margin-top: 5rem;
    }

    @include m.tablet { 
        margin-top: 2rem;
    }

    &__grid {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 2rem 0;
        background-color: rgba(48, 19, 177, 0.65);
        border-radius: 1rem;
        max-height: 70rem;
        transition: transform .3s;

        &:hover {
            transform: rotate(4deg) scale(1.1);
        }

    }

    &__heading {
        color: v.$blanco;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        font-family: v.$fuenteSecundaria;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
    }

    &__recursos {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 2rem;;
    }

    &__imagen {
        width: 5rem;
    }

    &__picture {

        img {
            width: 80%;
            margin: 0 auto;
            border-radius: 0.5rem;
            
        }
    }

    &__enlace {
        display: flex;
        justify-content: center;
        margin-block: 1rem;

        a {
            @include m.boton(v.$primario, darken(v.$grisClaro, 20%));
            text-transform: uppercase;
            padding: 1rem 4rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    
}

