@use 'base/variables' as v; 
@use 'base/mixins' as m;

.proyecto {

    @include m.tablet {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 50rem;
        align-items: center;
        @include m.imagenBG('https://images.unsplash.com/photo-1607971584791-aca00eb17fd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
        
    }

    &__heading {
        color: v.$secundarioOscuro;

        a {
            @include m.textoDeg;
        }
    }

    &__grid {
        @include m.tablet { 
            padding-left: 3rem;
        }
       @include m.desktop { 
            padding-left: 10rem;
       }
    }

    &__typewriter {
        color: v.$primario;
    }

    &__texto {
        color: v.$negroClaro;

        @include m.tablet { 
            color: v.$blanco;
        }
    }
}


